@inject BreezSparkService BreezService;
@using BTCPayServer.Client
@using BTCPayServer.Plugins.BreezSpark
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Models.StoreViewModels.LightningNodeViewModel

@if (Model.CryptoCode != "BTC")
{
    return;
}

@{
    var breezClient = BreezService.GetClient(Model.StoreId);
}

@if (breezClient == null)
{
    <a asp-action="Index" asp-controller="BreezSpark" permission="@Policies.CanModifyStoreSettings" asp-route-storeId="@Model.StoreId" type="radio" role="tab" aria-controls="BreezSparkSetup" aria-selected="false" name="LightningNodeType">
        <label for="LightningNodeType-BreezSpark">Configure BreezSpark</label>
    </a>
}
else
{
    <input value="Custom" type="radio" id="LightningNodeType-BreezSpark" data-bs-toggle="pill" data-bs-target="#BreezSparkSetup" role="tab" aria-controls="BreezSparkSetup" aria-selected="false" name="LightningNodeType">
    <label for="LightningNodeType-BreezSpark">Use BreezSpark</label>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const typePrefix = '@breezClient.ToString()';
            const connStringEl = document.getElementById('ConnectionString')
            delegate('change', 'input[name="LightningNodeType"]', e => {
                const activeEl = document.querySelector('input[name="LightningNodeType"]:checked')
                if (activeEl.id === "LightningNodeType-BreezSpark"){
                    connStringEl.value = typePrefix;
                }
            })
        })
    </script>
}
